fastapi
uvicorn
python-multipart
starlette
itsdangerous
aiofiles
httpx
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
pinecone
tiktoken
pypdf
python-dotenv
requests
jinja2
upstash-redis
llama-parse
nest-asyncio
docx2txt
